<div class="bg-white rounded-lg shadow-sm border border-gray-200 overflow-hidden">
  <div class="border-b border-gray-100 px-4 py-3 bg-gray-50">
    <h2 class="text-lg font-semibold text-gray-800">Gerenciar Leituras</h2>
  </div>
  <div class="p-4">
    <%= link_to "Nova Leitura", new_club_reading_path(@club), class: "text-sm bg-[#8B2635] hover:bg-[#731F2D] text-white px-3 py-1 rounded transition duration-200" %>
  </div>
</div>