<div id="chat" data-controller="chat" data-chat-club-id="<%= @club.id %>">
  <div id="messages">
    <% @club.chat_messages.each do |msg| %>
      <p><%= msg["timestamp"] %><strong><%= msg["user"] %>:</strong> <%= msg["message"] %></p>
    <% end %>
  </div>

  <form data-action="submit->chat#send" data-turbo="false">
    <input type="text" placeholder="Mensagem..." data-chat-target="input" />
    <button type="submit">Enviar</button>
  </form>
</div>